.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    height: 7rem;
    width: 100%;
    padding: 0 .75rem;

    &__logo {
        width: 7rem;
        height: 100%;
    }

    &__links {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__link {
        &:not(:last-child) {
            margin-right: 3rem;
        }

        font-size: 2rem;
        text-decoration: none;
        text-transform: uppercase;
        color: inherit;

        cursor: pointer;

        &:hover,&:focus {
            text-decoration: underline;
        }

        &.active {
            text-decoration: underline;
        }
    }

}